<form class="text-center mt-5 pt-5 container" [formGroup]="searchCountryForm" (ngSubmit)="onSubmit()">
    <div class="input-group mb-4">
        <label for="search-input">
            <span class="input-group-text">
                <i class="bi-search"></i>
            </span>
        </label>
        <input [formControlName]="'countryName'" type="text" id="search-input" class="form-control search-input" placeholder="Country name" />
    </div>
    <input type="submit" value="Search country" class="search-button" />
</form>
