$text-main-color: rgb(31, 99, 245);
$text-main-color-hover: rgb(115, 158, 250);
$text-color: black;
$text-color-hover: rgb(109, 109, 109);
$background-color: rgb(250, 250, 250);
$background-secondary-color: white;
$shadow-color: #404040;
